.MyHeader {
  justify-content: center;
  align-items: center;
}

h1 {
  color: darkmagenta;
  font-family: fantasy;
}

.cinemaApp {
  max-width: 600px;
  padding: 20px;
  background-color: rosybrown;
  margin-left: 200px;
}


.navbar {

  background-color: hotpink;
  color: blue;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
}