.MyHeader {
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  color: darkmagenta;
  font-family: fantasy;
}

.cinemaApp {
  max-width: 600px;
  padding: 20px;
  background-color: rosybrown;
  margin-left: 10px;
}

p {
  text-align: justify;
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: darkgreen;
}

.navbar {
  background-color: hotpink;
  color: blue;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
}